@import url("../global.css");
@keyframes vibrar{
    0%{
        transform: translate(0 ,0)
    }
    25%{
        transform: translate( 1px, -1px)
    }
    50%{
        transform: translate( -1px, 1px)
    }
    75%{
        transform: translate( 1px, 1px)
    }
    100%{
        transform: translate( 0 , 0)
    }
}
h1{
    font-size: 5rem;
}

p{
    font-size: 1.5rem;
}

.pt-4 p{
    width: 60%;
    margin: 0 auto;
}

h2{
    padding: 8px 0;
    color: black;
    font-weight: 900;
    font-size: 2.6rem;
    word-spacing: 4px;
}

hr{
    width: 95%;
    margin: 0 auto;
    justify-self: center;
    border: 1px solid var(--main-color);
    opacity: 100%;
}

.row article{
    border: 2px solid black;
    border-radius: 1em;
    min-height: 30vh;
    min-width: 40vw;
    position:relative;
    top:0;
    transition: all .2s ease-in-out;
}

.row article:hover{
    top:-4px;
    box-shadow:0 4px 3px #999;
}

h3{
    font-weight: 800;
}

h4{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 300;
}

article p{
    text-align: justify;
    text-indent: 2vw;
}
.container3_1 span{
    display: inline-block;
    margin-top: 25px;
}
.container3_1 svg{
    width: 30px;
    position: relative;
    left: -45px;
    top: 92px;

}
.vibrar{
    animation: vibrar .1s linear infinite;
}

.container3_1{
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    position: relative;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 100px 230px 70px;
    justify-content: center;
    align-items: center;
}
.container3_1 p{
    margin: 0 ;
    text-indent: 0;
    text-align: start;
    font-size: 1.7rem;
    align-self: end;
}
.container3_1 .botao_tirinha{
    padding: 10px;
    font-size: 1.8rem;
    background-color: var(--main-color);
    border-radius: 10px;
    color: #fff;
    align-self: end;
    transition: all .2s ease-in-out;    

}
.botao_tirinha:hover{
    background-color: #d6d4d4;
    color: var(--main-color)
}
.botao{
    font-size: 1.5rem;
    color: var(--main-color);
    border-color: var(--main-color);
    transition: all .2s ease-in-out;
    padding: 5px;    

}
.botao:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}

.botao:focus{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.citacao{
    margin-left: 40rem;
}

@media (max-width: 992px) {
    .row article{
        margin-top: 20px;
        width: 80%;    
    }
    p{
        font-size: 2rem;
    }
}
