@import url("../global.css");

h1{
    font-size: 5rem;
}

p{
    font-size: 1.5rem;
}

h2{
    color: black;
    font-weight: 900;
    font-size: 2.6rem;
}

h4{
    color: var(--main-color);
}

hr{
    border: 1px solid var(--main-color);
    opacity: 100%;
}

.row article{
    border: 2px solid black;
    border-radius: 1em;
    min-height: 30vh;
    min-width: 40vw;
    position:relative;
    top:0;
    transition: all .2s ease-in-out;
}

.row article:hover{
    top:-4px;
    box-shadow:0 4px 3px #999;
}

h3{
    font-weight: 800;
}

h4{
    font-size: 2rem;
    font-weight: 300;
}

article p{
    text-align: justify;
}

.botao{
    font-size: 1.5rem;
    color: var(--main-color);
    border-color: var(--main-color);
    transition: all .2s ease-in-out;    
    padding: 5px;
}

.botao:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.citacao{
    margin-left: 40rem;
}

@media (max-width: 992px) {
    .row article{
        margin-top: 20px;    
    }
    p{
        font-size: 2rem;
    }
}
