*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root{
    --main-color: #6A260C;
    --green: #033910;
    --blue: #300F85;
    --soft-white: #f5f3f3;
    --gray: #9b908e;
}

.bg-brown{
    background-color: var(--main-color);
}

.bg-green{
    background-color: var(--green);
}

.bg-blue{
    background-color: var(--blue);
}

.bg-gray{
    background-color: var(--gray);
}

body{
    background-color: var(--soft-white);
}

html{
    font-size: 62.5%;
}

nav{
    min-height: 60px;
    margin: 10px;
    padding: 0 30px;
    position: sticky;
    top: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 7vh;
    border-radius: 50%;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: padding .5s ease;
}
nav a:hover{
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: var(--main-color);
    border-radius: 10px;
}

.row{
    width: 100%;
}

.mw{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

footer{
    background-color: var(--main-color);
    color: white;
    height: 5vh;
}

@media (max-width: 992px) {
    nav a{
        font-size: 2rem;
    }
}
