@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root{
    --main-color: #6A260C;
    --green: #033910;
    --blue: #300F85;
    --soft-white: #f5f3f3;
    --gray: #9b908e;
}

.bg-brown{
    background-color: var(--main-color);
}

.bg-green{
    background-color: var(--green);
}

.bg-blue{
    background-color: var(--blue);
}

.bg-gray{
    background-color: var(--gray);
}

body{
    background-color: var(--soft-white);
}

html{
    font-size: 62.5%;
}

nav{
    min-height: 60px;
    margin: 10px;
    padding: 0 30px;
    position: sticky;
    top: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    opacity: .99;
}
nav img{
    width: 7vh;
    border-radius: 50%;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: padding .5s ease;
}
nav a:hover{
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: var(--main-color);
    border-radius: 10px;
}
.container1{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1 h1{
    margin-bottom: 30px;
}
.container1 p{
    width: 50vw;
}
.container2,.container3{
    height: 70vh;
}
.container2_1 :where(hr,h2),.container3_1 :where(hr,h2),.container4_1 :where(h2,hr){
    margin: 0 !important;
}
.container2_1 h2,.container3_1 h2,.container4_1 h2{
    padding: 10px;
}
.container2_2,.container3_2{
    margin: 0 !important;
    height: 100%;
    display: flex;
    align-items: center;
}
.container4{
    height: 80vh;
}
.container4 article{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
}

.mw{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

footer{
    background-color: var(--main-color);
    color: white;
    height: 5vh;
}

@media (max-width: 992px) {
    nav a{
        font-size: 2rem;
    }
}
